{% extends 'base.html'%}
{% load url_params %}
{% block content %}
<h2>Nodes</h2>
{% if is_paginated %}
<div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% replace_query_param request.get_full_path 'page' page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% replace_query_param request.get_full_path 'page' page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
</div>
{% endif %}
<form action="" method="get">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.node_type.errors }}
        <label for="{{ form.node_type.id_for_label }}">Node type:</label>
        {{ form.node_type }}
    </div>
    {% if request.GET.name %}
    <input type="hidden" value="{{request.GET.name}}" name="name">
    {% endif %}
    <div>
        <button type="submit">Filter</button>
    </div>
</form>
<table class="table table-stripped">
    <thead>
    <tr>
        <td>#</td>
        <td>Type</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    {% for node in object_list %}
    <tr>
        <td><a href="{%url 'node-detail' node.id%}">{{node.id}}</a></td>
        <td>{{node.type}}</td>
        <td>{{node.name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
