{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<link href="{% static 'css/lib/select2.min.css' %}" rel="stylesheet" />
{% endblock extracss %}
{% block content %}

<div class= "container-fluid">
    <div class="row">
        <div class="col-md-4 col-xs-4">
            <form action="" method="get" id="filterForm">
                <div class="form-group">
                    <div class="label">Filter by:</div>
                    <select class="form-control filter-select" name="node_type" id="nodeType">
                        {% for key in targets %}
                            <option value="{{key}}">{{key}}</option>
                         {% endfor %}
                    </select>
                    <div class="button" id="filterButton">Filter</div>
                </div>

                <div class="form-group tags-group">
                    <div class="label" style="clear: both;">Search tags:</div>
                    <select class="form-control" multiple="multiple" name="filters" id="filtersSelect">
                        {% for key, value in filters.items %}
                        <optgroup label="{{key}}">
                            {% for v in value %}
                            <option value="{{v}}">{{v}}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                    <div class="button" id="searchButton">Search</div>
                    <div class="button" id="filterButtonAlg">Run algorithm</div>
                </div>
                <div class="hover">
                    <img id="hover-image" src="">
                    <span id="name"></span>
                    <div class="panel-group .pre-scrollable" id="related_nodes"></div>
                </div>
            </form>
        </div>
        <div class="col-md-8 col-xs-8">    <!-- Plotly chart will be drawn inside this DIV -->
             <div id="plot" style="width:100%;height:80vh"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}

<script src="{% static 'javascript/lib/select2.min.js' %}"></script>
<script>
    $('#filtersSelect').select2();
</script>
<!-- Plotly.js -->
<script src="{% static 'javascript/lib/plotly-latest.min.js' %}"></script>
<script>
    var urlParams = "?{{ request.GET.urlencode }}";
</script>
<script src="{% static 'javascript/script.js' %}"></script>
    <script>
        $("#searchButton").click(function (e) {
            e.preventDefault();
            drawPlot("?" + $("#filtersSelect").serialize())
        });
        $("#filterButtonAlg").click(function (e) {
            e.preventDefault();
            drawPlot("?algorytm=true&" + $("#filterForm").serialize())
        });
        $("#filterButton").click(function (e) {
            e.preventDefault();
            drawPlot("?" + $("#nodeType").serialize())
        });
        drawPlot(urlParams);
    </script>
{% endblock extrajs %}

