<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keystone visualization</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Keystone explorer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'node-list'%}">Node list <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'edge-list' %}">Edge list</a></li>
        <li><a href="{% url 'visualization' %}">Visualization</a></li>
      </ul>
      <form class="navbar-form navbar-left" method="get" action="">

        {% if request.GET.node_type %}
        <input type="hidden" value="{{request.GET.node_type}}" name="node_type">
        {% endif %}
        {% if request.GET.source_node_type %}
        <input type="hidden" value="{{request.GET.source_node_type}}" name="source_node_type">
        {% endif %}
        {% if request.GET.target_node_type %}
        <input type="hidden" value="{{request.GET.target_node_type}}" name="target_node_type">
        {% endif %}

      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block content %}
{% endblock content%}
<link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/lib/bootstrap-theme.min.css' %}">

{% block extracss %}
{% endblock extracss %}
<script src="{% static 'javascript/lib/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'javascript/lib/bootstrap.min.js' %}"></script>
{% block extrajs %}
{% endblock extrajs %}
</body>
</html>