.hover {
    top: 0;
    left: 15px;
    padding: 20px 60px;
    border: 1px solid #666666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(243, 243, 243, 0.8);
    margin: 8px 0px 0;
    min-height: calc(95vh - 200px);
    max-height: calc(95vh - 200px);
    overflow-y: auto;
}

#hover-image {
    max-width: 120px;
    height: auto;
}

#name {
    color: #2b2d2f;
    font-size: 16px;
}

.button {
    display: inline-block;
    padding: 5px 40px;
    border-radius: 4px;
    background-color: #376488;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 8px 0px 0;
    box-shadow: 0px 8px 10px -7px #276873;
    cursor: pointer;

}

.filter-select {
    width: 35%;
    display: inline-block;
    vertical-align: bottom;
}

#filterButton {
    vertical-align: middle;
}

.tags-group .button {
    width: 49%;
    display: inline-block;
}

.label {
    color: #376488;
    font-size: 14px;
    margin: 8px 0px 0;
    clear: both;
}
